# scRNA-seq analysis
## with Drop-seq core computational protocol

## Overview of filtering results
The table below summarizes, for each sample, the total detected cells and genes, along with the mean and median UMI and gene counts per cell.  
For more information on the filtering criteria for each sample, please refer to the individual sample reports below.

In [1]:
import pandas as pd

# List of file paths
file_paths = [
    "./data/dropseq/files/bm07s1_summary_stat.tsv", 
    "./data/dropseq/files/bm11s2_summary_stat.tsv", 
    "./data/dropseq/files/bm12s3_summary_stat.tsv", 
    "./data/dropseq/files/pc63s4_summary_stat.tsv", 
    "./data/dropseq/files/pc85s5_summary_stat.tsv"
]

# Initialize an empty list to store the last rows
last_rows = []

# Loop through each file and extract the last row
for file in file_paths:
    # Read the TSV file
    df = pd.read_csv(file, sep="\t", header=0)
    
    # Extract the last row
    last_row = df.tail(1)
    
    # Append the last row to the list
    last_rows.append(last_row)

# Combine all last rows into a single DataFrame
combined_df = pd.concat(last_rows, axis=0)

# Reset the index to be sample1, sample2, ..., sample5
combined_df.index = ["bm07s1", "bm11s2", "bm12s3", "pc63s4", "pc85s5"]

# Display the combined DataFrame
combined_df

,NumGenes,NumCells,Mean_nCount_RNA,Median_nCount_RNA,Mean_nFeature_RNA,Median_nFeature_RNA
bm07s1,13230,33994,817.440695,652.0,515.126199,444.5
bm11s2,13178,27232,1070.369822,841.0,593.815768,509.0
bm12s3,13107,43620,725.034480,567.0,449.768890,382.0
pc63s4,4679,57,3439.578947,2928.0,1390.649123,1278.0
pc85s5,8385,1342,1676.837556,945.5,797.325633,592.0

## Individual sample reports
### _B. mori_ testes
[bm07s1](https://nbviewer.org/github/bulahwoo/scrna/blob/1c13ba680c7ebf9dfdbd29dc70c1d9572be6be7e/data/dropseq/bm07s1_dropseq.html)  
[bm11s2](https://nbviewer.org/github/bulahwoo/scrna/blob/1c13ba680c7ebf9dfdbd29dc70c1d9572be6be7e/data/dropseq/bm11s2_dropseq.html)  
[bm12s3](https://nbviewer.org/github/bulahwoo/scrna/blob/1c13ba680c7ebf9dfdbd29dc70c1d9572be6be7e/data/dropseq/bm12s3_dropseq.html)  
  
### _P. californicus_ testes
[pc63s4](https://nbviewer.org/github/bulahwoo/scrna/blob/1c13ba680c7ebf9dfdbd29dc70c1d9572be6be7e/data/dropseq/pc63s4_dropseq.html)  
[pc85s5](https://nbviewer.org/github/bulahwoo/scrna/blob/1c13ba680c7ebf9dfdbd29dc70c1d9572be6be7e/data/dropseq/pc85s5_dropseq.html)